In [1]:
import pandas as pd 
from pandas import read_csv 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
filename = 'Drug.csv'
data = read_csv(filename)
data.head()

                                                Drug Disease Gender  Age
0               A CN Gel(Topical) 20gmA CN Soap 75gm    Acne   Male   23
1  A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...    Acne   Male   23
2                             ACGEL CL NANO Gel 15gm    Acne   Male   23
3                                ACGEL NANO Gel 15gm    Acne   Male   23
4                              Acleen 1% Lotion 25ml    Acne   Male   23

In [3]:
data.dtypes

Drug       object
Disease    object
Gender     object
Age         int64
dtype: object

In [4]:
data.shape

(4955, 4)

In [5]:
data.isnull().sum()

Drug       0
Disease    0
Gender     0
Age        0
dtype: int64

In [6]:
data.replace({'Gender':{'Female':0, 'Male':1}}, inplace=True)

In [7]:
x = data[['Disease']]

In [8]:
x.Disease.unique()

array(['Acne', 'Allergy', 'Diabetes', 'Fungal infection',
       'Urinary tract infection', 'Malaria', 'Migraine', 'Hepatitis B',
       'AIDS'], dtype=object)

In [10]:
data.replace({'Disease':{'Acne':0, 'Allergy':1, 'Diabetes':2, 'Fungal infection':3,
       'Urinary tract infection':4, 'Malaria':5, 'Migraine':6, 'Hepatitis B':7,
       'AIDS':8}}, inplace=True)

In [11]:
data.head()

                                                Drug  Disease  Gender  Age
0               A CN Gel(Topical) 20gmA CN Soap 75gm        0       1   23
1  A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...        0       1   23
2                             ACGEL CL NANO Gel 15gm        0       1   23
3                                ACGEL NANO Gel 15gm        0       1   23
4                              Acleen 1% Lotion 25ml        0       1   23

In [12]:
data.dtypes

Drug       object
Disease     int64
Gender      int64
Age         int64
dtype: object

In [13]:
df_x = data[['Disease','Gender','Age']]
df_y = data[['Drug']]

In [14]:
df_x.head()

   Disease  Gender  Age
0        0       1   23
1        0       1   23
2        0       1   23
3        0       1   23
4        0       1   23

In [15]:
df_y.head()

                                                Drug
0               A CN Gel(Topical) 20gmA CN Soap 75gm
1  A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...
2                             ACGEL CL NANO Gel 15gm
3                                ACGEL NANO Gel 15gm
4                              Acleen 1% Lotion 25ml

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.2, random_state=0)

In [28]:
X_train.head()

      Disease  Gender  Age
2150        2       1   23
167         0       0   20
3188        2       0   23
844         1       0   23
4129        3       0   37

In [29]:
y_train.head()

                                                   Drug
2150  Glycinorm Total 30mg Tablet 10'SGlycinorm Tota...
167                             Dersol BH Ointment 30gm
3188            Wosulin New 30/70 100IU Cartridge 3X3ml
844                              Lejet M JR Tablet 10'S
4129  Zocon 50mg Tablet 4'SZocon Transgel 15gmZocon ...

In [30]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf = rf.fit(df_x,np.ravel(df_y))

In [32]:
from sklearn.metrics import accuracy_score 
y_pred = rf.predict(X_test)
print(accuracy_score(y_test, y_pred))
print(accuracy_score(y_test, y_pred, normalize=False))

0.03834510595358224
38

In [33]:
rf.score(X_test,y_test)

0.03834510595358224

In [35]:
y_test.head()

                                                   Drug
2540  Metofix XL 500mg Tablet 10'SMetofix XL 1000mg ...
446                               ALL 3 5mg Tablet 10'S
4771  Lamivir 30mg Capsule 30'SLamivir 300mg Solutio...
541            Cetcip 10mg Tablet 10'SCetcip Syrup 30ml
1270   Acarcip 25mg Tablet 10'SAcarcip 50mg Tablet 10'S

In [34]:
prediction = rf.predict(X_text)
print(prediction[0:10])

["Metgli 2mg Tablet 10'SMetgli 1mg Tablet 10'S" "Alerfix 5mg Tablet 10'S"
 "Herperax 200mg Tablet 5'SHerperax 400mg Tablet 10'SHerperax Ointment 5gmHerperax 800mg Tablet 10'S"
 "Cetze Tablet 10'S" "Metgli 2mg Tablet 10'SMetgli 1mg Tablet 10'S"
 "Amphoject 50mg Injection 1'S"
 "Herperax 200mg Tablet 5'SHerperax 400mg Tablet 10'SHerperax Ointment 5gmHerperax 800mg Tablet 10'S"
 'NOMAL 60mg Injection 5ml' 'NOMAL 60mg Injection 5ml'
 "Herperax 200mg Tablet 5'SHerperax 400mg Tablet 10'SHerperax Ointment 5gmHerperax 800mg Tablet 10'S"]

In [36]:
test = [5,1,24]
test = np.array(test)
print(test.shape)
test = np.array(test).reshape(1, -1)
print(test.shape)

(3,)
(1, 3)

In [38]:
prediction = rf.predict(test)
print(prediction[0])

Combither Forte 80/480mg Tablet 6'S

/opt/anaconda3/lib/python3.7/site-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [41]:
import joblib as joblib 
joblib.dump(rf, 'model/medical_rf.pkl')

['model/medical_rf.pkl']

In [43]:
clf = joblib.load('model/medical_rf.pkl')

In [44]:
prediction = clf.predict(test)
print(prediction[0])

Combither Forte 80/480mg Tablet 6'S

/opt/anaconda3/lib/python3.7/site-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [45]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb = gnb.fit(df_x, np.ravel(df_y))

In [46]:
y_pred = gnb.predict(X_test)
print(accuracy_score(y_test, y_pred))
print(accuracy_score(y_test, y_pred, normalize=False))

0.039354187689202826
39

In [47]:
gnb.score(X_test, y_test)

0.039354187689202826

In [48]:
result = gnb.predict(test)
print(result[0])

Combither Forte 80/480mg Tablet 6'S

/opt/anaconda3/lib/python3.7/site-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

In [49]:
joblib.dump(gnb, 'model/medical_nb.pkl')

['model/medical_nb.pkl']